.Main-about {
    background: #fff;

}
.Main-aboutContent{
    display: flex;
    flex-direction: column;
}

.Main-aboutContent img{
    width: 100%;
    ;
}

.Logos {
    background: #202020;
    justify-items: center;
    color: #fff;
}

.Logos-text{
    font-size: 30px;
    padding: 30px;
}

.Logos-img {
padding: 20px;
}