.Main-login {
    align-items: center;
    align-content: center;
}


.Main-formTitle{
    font-family: Oswald, sans-serif;
    font-size: 2rem;
    align-items: center;
    justify-content: center;
    align-content: center;
}