.Contenedor-acordeon {
    padding: 10px;
}

.Contenedor-titulo {
    font-size: 2.5rem;
    font-family: Oswald, sans-serif;
    padding: 20px 10px;
}

.Contenedor-seccion {
    margin-bottom: 10px;
    font-family: 'Lucida Sans', sans-serif;
}

.Contenedor-btn {
    font-family: Oswald, sans-serif;
    font-size: 1.1rem;
    width: 100%;
    text-align: left;
    padding: 10px;
    font-weight: 600;
    border-radius: 10px;
    background-color: #fff;
    transition: background-color 0.3s;
}

.Contenedor-btn:hover {
    background-color: #202020;
    color: #fff
}

.Contenedor-content {
    padding: 16px;
    border-radius: 20px;
    background-color: #fff;
    display: none;
}

.Contenedor-content.activo {
    display: block;
}

/* Tablet: 768px a 1024px */
@media (max-width: 1024px) {
    .Contenedor-titulo {
        font-size: 2rem;
        text-align: center;
    }

    .Contenedor-btn {
        font-size: 1rem;
        padding: 8px;
    }

    .Contenedor-content {
        padding: 12px;
    }
}

/* Móvil: menos de 768px */
@media (max-width: 768px) {
    .Contenedor-acordeon {
        padding: 5px;
    }

    .Contenedor-titulo {
        font-size: 1.8rem;
        padding: 10px;
        text-align: center;
    }

    .Contenedor-btn {
        font-size: 0.95rem;
        padding: 8px;
    }

    .Contenedor-content {
        padding: 10px;
    }
}