.Welcome-main {
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    align-items: center;
    background-color: #202020;
}


.Main-login {
    flex: 1;
    padding: 60px 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.Logo-grande {
    padding: 40px;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.Logo-text{
    font-family: "Oswald", sans-serif;
    font-size: 2.8rem;
    font-weight: 300;
    color: #fff;
    
}

.Main-formTitle {
    font-family: Oswald, sans-serif;
    color: #fff;
    padding: 20px;
    font-size: 2rem;
    font-weight: 500;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.WelcomeRegistro-inicio {
    color: #fff;
    font-size: 1.3rem;
    font-family: "Oswald", sans-serif;
    padding: 20px;
}

.WelcomeLink-registro {
    color: #c69c6d;
    font-size: 1.6rem;

}

.WelcomeLink-registro:hover {
    transform: scale(2.3);
    color: #fff;
}

.WelcomeFooter-navList {
    display: flex;
    flex-direction: row;
    background-color: #c69c6d;
    /* justify-content: space-between; */
    padding: 20px 60px;
    list-style: none;
    font-family: "Oswald", sans-serif;
    align-items: center;
    align-content: center;
    justify-content: center;

}

.WelcomeFooter-textLink {
    display: flex;
    flex-direction: row;
    color: #202020;
    font-size: 1.5rem;
}

.WelcomeFooter-navLink {
    color: #202020;
    transform: none;
    font-size: 1.2rem;
    text-decoration: none;
}

.WelcomeFooter-navLink:hover {
    color: #fff;
}