
.Footer {
    display: flex;
    width: 100%;
    background-color: #c69c6d;
    color: #F1ECE7;
    justify-content: space-between;
    align-items: center;
    padding: 60px 60px;
}

/* CSS FOOTER NAVEGACIÓN */
.Footer-nav{
    display: flex;
    flex-direction: column;
    padding: 0px;
    font-family: "Oswald", sans-serif;
}

.Footer-navList{
    display: flex;
    flex-direction: column;
    list-style: none;
    text-align: justify;
}

.Footer-navLink {
    display: flex;
    flex-direction: column;
    color: #F1ECE7;
    text-decoration: none;
    padding: 10px;
    font-size: 1.2rem;
    font-family: "Oswald", sans-serif;
    font-size: 1.3rem;
}

.Footer-navLink img {
    width: 25px;
}

.Footer-navLink:hover {
    text-decoration: underline;
    text-decoration-color: #F1ECE7;
    text-decoration-thickness: 3px;
}

/* CSS FOOTER LOGOTIPO */
.Footer-logoImage {
    width: 400px;
}

/* CSS FOOTER CONTENIDO */
.Footer-content{
    display: flex;
    flex-direction: column;
    padding: 0px 10px 10px;
    /* align-items: center;
    justify-content: center; */
}

/* CSS FOOTER COPYRIGHT */
.Footer-text{
    font-family: "Oswald", sans-serif;
    font-size: large;
    
}

/* CSS FOOTER TÉRMINOS Y CONDICIONES */
.Footer-textLink{
    font-family: "Oswald", sans-serif;
    font-size: large;
    text-decoration: none;
    color:#fff;
    padding-top: 10px;
}

.Footer-textLink:hover{
    text-decoration: underline;
    text-decoration-color: #F1ECE7;
    text-decoration-thickness: 3px;
    transform: scale(1.1);
}