.Carrusel-container {
    width: 500px;
    height: 70vh;
    margin: 0px 20px 0px 200px;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.Carrusel-inner {
    display: flex;
    flex-direction: column;
    transition: transform 0.5s ease-in-out;
}

.Carrusel-img {
    width: 500px;
    height: 1200px;
    object-fit: cover;
}

/* Tablets (hasta 900px) */
@media (max-width: 900px) {
    .Carrusel-container {
        width: 400px;
        height: 60vh;
        margin: 0px auto 20px auto;
        /* centrado */
    }

    .Carrusel-img {
        width: 400px;
        /* height: 800px; */
    }
}

/* Móviles (hasta 600px) */
@media (max-width: 600px) {
    .Carrusel-container {
        width: 90%;
        height: 50vh;
        margin: 0 auto 20px auto;
        box-shadow: none;
        /* opcional para simplificar en móvil */
    }

    .Carrusel-img {
        width: 100%;
        height: 600px;
    }
}